In [2]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import urllib.request
import time

# Web Scraping Indeed

In [44]:
# scrape data science jobs in sydney on Indeed
url_template = 'https://au.indeed.com/jobs?q="data+scientist"&l=Sydney+NSW&start={}'
df = pd.DataFrame(columns=["Title","Location","Company","Salary", "Link", "Description"])
for start in range(0,100,10):
    url = url_template.format(start)
    html = requests.get(url)
    soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
    for each in soup.find_all(class_= "result" ):
        try: 
            title = each.find(class_='jobtitle').text.replace('\n', '')
        except:
            title = 'None'
        try:
            location = each.find('span', {'class':"location" }).text.replace('\n', '')
        except:
            location = each.find('div', {'class':"location" }).text.replace('\n', '')
        
        try: 
            company = each.find(class_='company').text.replace('\n', '')
        except:
            company = 'None'
        try:
             salary = each.find('span', {'class':'no-wrap'}).text.replace('\n', '')
        except:
            salary = 'None'
        try:
            part_link = each.find('div', {'class': 'title'}).a.get('href')
            link = 'https://au.indeed.com' + part_link       
        except:
            link = 'None'
        try:
            html2 = requests.get(link)
            soup2 = BeautifulSoup(html2.content, 'html.parser', from_encoding="utf-8")
            data = soup2.find("div", {"class":"jobsearch-jobDescriptionText"})
            desc = data.text
        except:
            desc = 'None'



        df = df.append({'Title':title, 'Location':location, 'Company':company, 'Salary':salary,'Link':link, 'Description':desc}, ignore_index=True)
        time.sleep(5)

In [45]:
print(df.shape)
df.head()

(155, 6)

,Title,Location,Company,Salary,Link,Description
0,IT Internship,Sydney NSW,Global group,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,An Sydney based company is currently looking f...
1,Data CoE Expressions of Interest,Sydney NSW,Optus,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,We're going where no other telco has gone befo...
2,Data Scientist,Sydney NSW,Accenture,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Flexible work arrangements to meet your needs\...
3,Data Scientist - Contractor,Sydney NSW,Mphasis,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,"Job Description :\nIn this role, you should be..."
4,Data Scientist,Sydney Central Business District NSW,Westpac,None,https://au.indeed.com/rc/clk?jk=3bd8bb6cec4745...,As a Data Scientist you will support our compl...

In [46]:
# scrape data science jobs in melbourne on Indeed
url_template = 'https://au.indeed.com/jobs?q="data+scientist"&l=Melbourne+VIC&start={}'
i = 0
df2 = pd.DataFrame(columns=["Title","Location","Company","Salary", "Link", "Description"])
for start in range(0,100,10):
    url = url_template.format(start)
    html = requests.get(url)
    soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
    for each in soup.find_all(class_= "result" ):
        try: 
            title = each.find(class_='jobtitle').text.replace('\n', '')
        except:
            title = 'None'
        try:
            location = each.find('span', {'class':"location" }).text.replace('\n', '')
        except:
            location = each.find('div', {'class':"location" }).text.replace('\n', '')
        
        try: 
            company = each.find(class_='company').text.replace('\n', '')
        except:
            company = 'None'
        try:
             salary = each.find('span', {'class':'no-wrap'}).text.replace('\n', '')
        except:
            salary = 'None'
        try:
            part_link = each.find('div', {'class': 'title'}).a.get('href')
            link = 'https://au.indeed.com' + part_link       
        except:
            link = 'None'
        try:
            html2 = requests.get(link)
            soup2 = BeautifulSoup(html2.content, 'html.parser', from_encoding="utf-8")
            data = soup2.find("div", {"class":"jobsearch-jobDescriptionText"})
            desc = data.text
        except:
            desc = 'None'

        
            
        df2 = df2.append({'Title':title, 'Location':location, 'Company':company, 'Salary':salary,
                          'Link':link, 'Description':desc}, ignore_index=True)
        time.sleep(5)

In [47]:
print(df2.shape)
df2.head()

(140, 6)

,Title,Location,Company,Salary,Link,Description
0,Data Scientist,Melbourne VIC,ANZ Banking Group,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,"First a bit about ANZ\n\nAt ANZ, everything we..."
1,Data Scientist,Melbourne VIC,Accenture,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Flexible work arrangements to meet your needs\...
2,Data Scientist,Melbourne VIC,Chandler Macleod,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Federal Government - baseline preferred\nASAP ...
3,Senior Data Scientist,Melbourne VIC,ANZ Banking Group,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,The Team\n\nThe Customer Service Operations Au...
4,Data Scientist,Melbourne VIC,David Jones,None,https://au.indeed.com/rc/clk?jk=f3d88d86aa03a6...,We are a diverse and highly regarded collectiv...

In [48]:
DS_data= df.append(df2, ignore_index=True)

In [49]:
DS_data.shape

(295, 6)

In [50]:
DS_data.head()

,Title,Location,Company,Salary,Link,Description
0,IT Internship,Sydney NSW,Global group,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,An Sydney based company is currently looking f...
1,Data CoE Expressions of Interest,Sydney NSW,Optus,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,We're going where no other telco has gone befo...
2,Data Scientist,Sydney NSW,Accenture,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Flexible work arrangements to meet your needs\...
3,Data Scientist - Contractor,Sydney NSW,Mphasis,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,"Job Description :\nIn this role, you should be..."
4,Data Scientist,Sydney Central Business District NSW,Westpac,None,https://au.indeed.com/rc/clk?jk=3bd8bb6cec4745...,As a Data Scientist you will support our compl...

In [51]:
DS_data.tail()

,Title,Location,Company,Salary,Link,Description
290,Senior - Principal Data Scientist,Melbourne VIC,Opus Recruitment Solutions,"$500 - $1,000 a day",https://au.indeed.com/rc/clk?jk=7efe09abead86d...,Senior - Principal Data Scientist\n\n2-3month ...
291,"Data Scientists - Machine Learning, AWS , Pyth...",Melbourne VIC,ARQ Group,None,https://au.indeed.com/rc/clk?jk=90d9910e419407...,"Crunch data, uncover insights and create knowl..."
292,Senior Data Marketing Strategist,Melbourne VIC,AKQA,None,https://au.indeed.com/rc/clk?jk=43940450b7ca40...,"At AKQA, we believe in the imaginative applica..."
293,Senior Data Scientist / Data Produ...,Melbourne VIC,Correlate Resources,None,https://au.indeed.com/rc/clk?jk=2dc0f1dbbc2f3c...,In this exciting contract opportunity we are l...
294,Senior Digital Producer - Adobe Ca...,Melbourne VIC,Clemenger Group,None,https://au.indeed.com/rc/clk?jk=8d0369543b23ab...,WHO ARE CHE PROXIMTY\n‘Advertising'\nIt's not ...

In [54]:
DS_data['Category'] = 'data science'

In [55]:
DS_data.to_csv('./data/data_science_scrape4.csv')

In [58]:
# scrape data analyst jobs in sydney on Indeed
url_template = 'https://au.indeed.com/jobs?q="data+analyst"&l=Sydney+NSW&fromage=last&start={}'
results = []
df3 = pd.DataFrame(columns=["Title","Location","Company","Salary", "Link", "Description"])
for start in range(0,1000,10):
    url = url_template.format(start)
    html = requests.get(url)
    soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
    for each in soup.find_all(class_= "result" ):
        try: 
            title = each.find(class_='jobtitle').text.replace('\n', '')
        except:
            title = 'None'
        try:
            location = each.find('div', {'class':"location" }).text.replace('\n', '')
        except:
            location = 'None'
        try: 
            company = each.find(class_='company').text.replace('\n', '')
        except:
            company = 'None'
        try:
             salary = each.find('span', {'class':'no-wrap'}).text.replace('\n', '')
        except:
            salary = 'None'
        try:
            part_link = each.find('div', {'class': 'title'}).a.get('href')
            link = 'https://au.indeed.com' + part_link       
        except:
            link = 'None'
        try:
            html2 = requests.get(link)
            soup2 = BeautifulSoup(html2.content, 'html.parser', from_encoding="utf-8")
            data = soup2.find("div", {"class":"jobsearch-jobDescriptionText"})
            desc = data.text
        except:
            desc = 'None'

            
            
        df3 = df3.append({'Title':title, 'Location':location, 'Company':company, 'Salary':salary,
                          'Link':link, 'Description':desc}, ignore_index=True)
        time.sleep(5)

In [59]:
# scrape data analyst jobs in melbourne on Indeed

url_template = 'https://au.indeed.com/jobs?q="data+analyst"&l=Melbourne+VIC&start={}'
results = []
df4 = pd.DataFrame(columns=["Title","Location","Company","Salary", "Link", "Description"])
for start in range(0,1000,10):
    url = url_template.format(start)
    html = requests.get(url)
    soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
    for each in soup.find_all(class_= "result" ):
        try: 
            title = each.find(class_='jobtitle').text.replace('\n', '')
        except:
            title = 'None'
        try:
            location = each.find('div', {'class':"location" }).text.replace('\n', '')
        except:
            location = 'None'
        try: 
            company = each.find(class_='company').text.replace('\n', '')
        except:
            company = 'None'
        try:
             salary = each.find('span', {'class':'no-wrap'}).text.replace('\n', '')
        except:
            salary = 'None'
        try:
            part_link = each.find('div', {'class': 'title'}).a.get('href')
            link = 'https://au.indeed.com' + part_link       
        except:
            link = 'None'
        try:
            html2 = requests.get(link)
            soup2 = BeautifulSoup(html2.content, 'html.parser', from_encoding="utf-8")
            data = soup2.find("div", {"class":"jobsearch-jobDescriptionText"})
            desc = data.text
        except:
            desc = 'None'
            
        df4 = df4.append({'Title':title, 'Location':location, 'Company':company, 'Salary':salary,
                          'Link':link, 'Description':desc}, ignore_index=True)
        time.sleep(5)

In [60]:
DA_data= df3.append(df4, ignore_index=True)

In [61]:
DA_data.shape

(3101, 6)

In [62]:
DA_data.head()

,Title,Location,Company,Salary,Link,Description
0,Sales Data Analyst,Sydney NSW,Xpand Group Pty Ltd,$52 an hour,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Salary:\n$52 p/hr + Superannuation\n\nSpeciali...
1,Data CoE Expressions of Interest,Sydney NSW,Optus,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,We're going where no other telco has gone befo...
2,Data Analyst - SMB Loyalty & Customer Value Ma...,Macquarie Park NSW,Optus,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,About the team and agile working…\nThe rapid p...
3,Property Data Analyst,Sydney NSW,Ivory Group Pty Ltd,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,ABOUT THE COMPANY.\n\nJoin a highly regarded L...
4,Junior Data Analyst,None,JLL,None,https://au.indeed.com/rc/clk?jk=a50d0a04dcd96f...,What’s your ambition? Is it a big goal or smal...

In [63]:
DA_data['Category'] = 'data analyst'

In [64]:
DA_data.to_csv('./data/data_analyst_scrape4.csv')

In [66]:
# scrape Business Intelligience jobs in sydney on Indeed

url_template = 'https://au.indeed.com/jobs?q="business+intelligence"&l=Sydney+NSW&fromage=last&start={}'
results = []
df5 = pd.DataFrame(columns=["Title","Location","Company","Salary", "Link", "Description"])
for start in range(0,1000,10):
    url = url_template.format(start)
    html = requests.get(url)
    soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
    for each in soup.find_all(class_= "result" ):
        try: 
            title = each.find(class_='jobtitle').text.replace('\n', '')
        except:
            
            title = 'None'
        try:
            location = each.find('div', {'class':"location" }).text.replace('\n', '')
        except:
            location = 'None'
        try: 
            company = each.find(class_='company').text.replace('\n', '')
        except:
            company = 'None'
        try:
             salary = each.find('span', {'class':'no-wrap'}).text.replace('\n', '')
        except:
            salary = 'None'
        try:
            part_link = each.find('div', {'class': 'title'}).a.get('href')
            link = 'https://au.indeed.com' + part_link       
        except:
            link = 'None'
        try:
            html2 = requests.get(link)
            soup2 = BeautifulSoup(html2.content, 'html.parser', from_encoding="utf-8")
            data = soup2.find("div", {"class":"jobsearch-jobDescriptionText"})
            desc = data.text
        except:
            desc = 'None'
            
        df5 = df5.append({'Title':title, 'Location':location, 'Company':company, 'Salary':salary,
                          'Link':link, 'Description':desc}, ignore_index=True)
        time.sleep(5)

In [67]:
# scrape Business Intelligience jobs in melbourne on Indeed
url_template = 'https://au.indeed.com/jobs?q="business+intelligence"&l=Melbourne+VIC&l=Sydney+NSW&fromage=last&start={}'
results = []
df6 = pd.DataFrame(columns=["Title","Location","Company","Salary", "Link", "Description"])
for start in range(0,1000,10):
    url = url_template.format(start)
    html = requests.get(url)
    soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
    for each in soup.find_all(class_= "result" ):
        try: 
            title = each.find(class_='jobtitle').text.replace('\n', '')
        except:
            title = 'None'
        try:
            location = each.find('div', {'class':"location" }).text.replace('\n', '')
        except:
            location = 'None'
        try: 
            company = each.find(class_='company').text.replace('\n', '')
        except:
            company = 'None'
        try:
             salary = each.find('span', {'class':'no-wrap'}).text.replace('\n', '')
        except:
            salary = 'None'
        try:
            part_link = each.find('div', {'class': 'title'}).a.get('href')
            link = 'https://au.indeed.com' + part_link       
        except:
            link = 'None'
        try:
            html2 = requests.get(link)
            soup2 = BeautifulSoup(html2.content, 'html.parser', from_encoding="utf-8")
            data = soup2.find("div", {"class":"jobsearch-jobDescriptionText"})
            desc = data.text
        except:
            desc = 'None'
        df6 = df6.append({'Title':title, 'Location':location, 'Company':company, 'Salary':salary,
                          'Link':link, 'Description':desc}, ignore_index=True)
        time.sleep(5)

In [68]:
BI_data= df5.append(df6, ignore_index=True)

In [69]:
BI_data.shape

(2811, 6)

In [70]:
BI_data.head()

,Title,Location,Company,Salary,Link,Description
0,"Business Intelligence Consultant, SSIS, SSAS a...",Sydney Eastern Suburbs NSW,Robert Half Australia,"$130,000 a year",https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,A market leading organization is looking for a...
1,Business Intelligence Developer,Sydney NSW,Robert Half Australia,"$90,000 a year",https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,National client based in the Chatswood is curr...
2,Business Analyst | Business Intelligence,Sydney NSW,Robert Half Australia,"$110,000 a year",https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,This client is currently looking for a talente...
3,APS5 - Business Intelligence Officer,None,Australian Government Department of De...,"$73,636 - $78,873 a year",https://au.indeed.com/rc/clk?jk=7224e1e8abd082...,"$73,636 - $78,873 (plus super)\nDundas, NSW\nT..."
4,APS 5 - Business Intelligence Officer,None,Australian Government Department of De...,"$73,636 - $78,873 a year",https://au.indeed.com/rc/clk?jk=79a3d1be13b710...,"$73,636 - $78,873 (plus super)\nHolsworthy, NS..."

In [71]:
BI_data['Category'] = 'business intelligence'

In [72]:
BI_data.to_csv('./data/business_intelligence_scrape4.csv')